<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div class="table-responsive"> 
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Topic</th>
        <th>Image</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <% if task.image.attached? %>
            <td><%= image_tag task.image.variant(resize: "70x70") %></td>
          <% else %>
            <td></td>
          <% end %> 
          <td><%= task.user_id %></td> 
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= paginate @tasks %>


<%= link_to new_task_path, class: 'order-2 pr-2 bd-highlight' do %>
  <i class="fas fa-plus"> New Tvoz</i> |
<% end %> 
<%= link_to root_path, class: 'order-2 pr-2 bd-highlight' do %>   
  <i class="fa-solid fa-house">Home</i> |
<% end %>  
<%= link_to profile_user_path(current_user.id) do %>   
  <i class="fa-solid fa-user">Profile</i>
<% end %>  
 
