
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>


<p>
  <strong>Audio:</strong>
  <%#  CHANGE THE UNLESS WHEN YOU FIX THE ISSUE OF THE AUDIO FILE %>
  <%# <% if @task.audio?  %> 
  
  <% if @task.audio.attached? %>
    <audio controls src="<%= url_for(@task.audio)  %> "></audio>
  <% end %>   
    <%#  audio_tag @task.audio, controls: true, preload: "none" %> 
    <%# <audio controls src="
    <%#  @task.audio %> 
    <%# "> %>
    <%# </audio> %>
  <%# <% else %> 
    <%# <div>There is no file yet</div> %>
  <%# <% end %>   
</p>

<% if @task.content? %>
<p>
  <strong>Comment:</strong>
  <%= @task.content %>
</p>
<% end %>

<p>
  <strong>Image:</strong>
  <% if @task.image.attached? %>
       <%= image_tag @task.image.variant(resize: "400x400") %>
  <% end %>   
  
</p>
<p>
  <strong>Image:</strong>
  <% if @task.image.attached? %>
       <%= image_tag(@task.image, width: 500) %>
  <%# <% else %> 
    <%# <div>There is no file yet</div> %>
  <% end %>   
  
</p>



<% if @task.audio_record? %>
<p>
  <strong>Audio record:</strong>
  <%= @task.audio_record %>
</p>
<% end %>


<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %> |
<%= link_to root_path, class: 'order-2 pr-2 bd-highlight' do %>   
  <i class="fa-solid fa-house">Home</i> |
<% end %> 

