<div class=" container-fluid padding" id="task-show-background">
  <div clas="row padding justify-content-center">
    <div class="col-lg-12" id="task-show">
      <p class="text-center">
      <strong>Title:</strong>

      <%= @task.title %>
      </p>
    </div>
    <div class="col-lg-12" id="task-show"> 
      <p>

      <% if @task.audio.attached? %>
        <audio controls src="<%= url_for(@task.audio) %> "></audio>
      <% end %>    
      </p>
    </div>
    <div class="col-lg-12" id="task-show">
      <p>

      <% if @task.image.attached? %>
           <%= image_tag(@task.image, id:'task-img' ) %>
      <% end %>   
      </p>
    </div>
    <div class="col-lg-12" id="task-show">
      <p>
        <%= link_to 'Audio input', new_task_student_audio_path(@task.id) %>
        <%# <%= button_to 'Audio input', new_student_audio_path(@task) %> 
      </p>
    </div>
    <div class="col-lg-12" id="task-show"> 
      <p>
        <strong>User:</strong>
        <%= @task.user_id %>
      </p>
    </div>

    <div class="padding col-12 row justify-content-center">
      <% if current_user.role == "teacher" %>
        <div class="text-center">
          <%= link_to 'Edit', edit_task_path(@task) %> |
        </div>
        <div class="text-center">
          <%= link_to 'Back', tasks_path %> |
        </div>
      <% end %>
      <div class="text-center row">
        <%= link_to community_user_path(current_user.id)  do %>
          <i class="fas fa-users">Community</i>
        <% end %>
      </div>
    </div>
  </div>
</div>
