
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @task.image %>
</p>

<p>
  <strong>Audio record:</strong>
  <%= @task.audio_record %>
</p>

<p>
  <strong>Audio:</strong>
  <%#  CHANGE THE UNLESS WHEN YOU FIX THE ISSUE OF THE AUDIO FILE %>
  <% unless @task.audio?  %>
    <audio controls src="<%= @task.audio.url %>"></audio>
  <% else %>
    <div>There is no file yet</div>
  <% end %>  
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %> |
<%= link_to root_path, class: 'order-2 pr-2 bd-highlight' do %>   
  <i class="fa-solid fa-house">Home</i> |
<% end %> 

