<div class=" container-fluid padding" id="task-show-background">
  <div clas="row padding justify-content-center">
    <div class="col-12">
  <%= form_with(model: @task, local: true ) do |form| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="col-lg-10" id="task-show">
      <p class="text-center">
      <strong>Title:</strong>
      <%= form.hidden_field :title %>
      <%= @task.title %>
      </p>
    </div>
    <div class="col-lg-10" id="task-show"> 
      <p>
       <%= form.hidden_field :audio %>
      <% if @task.audio.attached? %>
        <audio controls src="<%= url_for(@task.audio) %> "></audio>
      <% end %>    
      </p>
    </div>
    <div class="col-lg-10" id="task-show">
      <p>
      <%= form.hidden_field :image %>
      <% if @task.image.attached? %>
           <%= image_tag(@task.image, id:'task-img' ) %>
      <% end %>   
      </p>
    </div>
    <div class="col-lg-10" id="task-show">
      <% if @task.audio_record? %>
        <p>
          <strong>Tvoz:</strong>
          <audio controls src="<%= url_for(@task.audio_record) %> "></audio>
        </p>
      <% else %>
        <div class="field">
          <%= form.label :Tvoz %>
          <%= form.file_field :audio_record %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-10" id="task-show">
      <div class="actions">
        <%= form.submit %>
      </div>
  <% end %>
    </div>
    <div class="col-lg-10" id="task-show"> 
      <p>
        <strong>User:</strong>
        <%= @task.user_id %>
      </p>
    </div>
    <div class="col-lg-10 padding row justify-content-center">
      <%= link_to 'Edit', edit_task_path(@task) %> |
      <%= link_to 'Back', tasks_path %> |
      <%= link_to root_path, class: 'order-2 pr-2 bd-highlight' do %>   
        <i class="fa-solid fa-house">Home</i> |
      <% end %> 
    </div>
  </div>
</div>
