<% @tasks.each do |task|%>
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>
  
  
  <p>
    <strong>Audio:</strong>
    <% if task.audio.attached? %>
      <audio controls src="<%= url_for(task.audio) %> "></audio>
    <% end %>    
  </p>
  
  
  
  
  <p>
    <strong>Image:</strong>
    <% if task.image.attached? %>
         <%= image_tag(task.image, width: 500) %>
    <% end %>   
  </p>
  
  <%# <% if @student_audio.audio_student? %> 
  <p>
    <strong>Tvoz:</strong>
    <audio controls src="<%= url_for(task.student_audios.audio_student) %> "></audio>
  </p>
  <%# <% else %>
    <p>
    <strong>Tvoz2:</strong>
    <%# <audio controls src="<%= url_for(@student_audio.audio_student) %> 
    <%# ">No audio</audio> %> 
  </p>
  <%# <% end %> 
  
  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>
<% end %>



<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %> |
<%= link_to root_path, class: 'order-2 pr-2 bd-highlight' do %>   
  <i class="fa-solid fa-house">Home</i> |
<% end %> 

