<%= form_with(model: [task, @student_audio], local: true, url: choose_url_new_or_edit, method: choose_method_new_or_edit) do |form| %>
  <% if student_audio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_audio.errors.count, "error") %> prohibited this student_audio from being saved:</h2>

      <ul>
        <% student_audio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :audio %>
    <%= form.file_field :audio_student %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
