<% @student_audios.each do |student_audios|%>
  <p>
    <strong>Title:</strong>
    <%= student_audios.task.title %>
  </p>
  
  
  <p>
    <strong>Audio:</strong>
    <% if student_audios.task.audio.attached? %>
      <audio controls src="<%= url_for(student_audios.task.audio) %> "></audio>
    <% end %>    
  </p>
  
  
  
  
  <p>
    <strong>Image:</strong>
    <% if student_audios.task.image.attached? %>
         <%= image_tag(student_audios.task.image, width: 500) %>
    <% end %>   
  </p>
  
 
  <p>
    <strong>Tvoz:</strong>
    <audio controls src="<%= url_for(student_audios.audio_student) %> "></audio>
  </p>

  
  
  <p>
    <strong>User:</strong>
    <%= student_audios.user_id %>
  </p>
<% end %>





<%= link_to root_path, class: 'order-2 pr-2 bd-highlight' do %>   
  <i class="fa-solid fa-house">Home</i> |
<% end %> 

 <%#= link_to task_student_audio(@student_audios.id) , class: 'order-2 pr-2 bd-highlight' do %>  
   <%# <p>show</p>   %>
 <%# end %>   

 



