<h1>Users#community</h1>


    <p> Hello <%= current_user.name%>!</p> <br>
    <p> Meet the community and connect with all!</p> <br>
  

<div class="table-responsive"> 
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>Avatar</th>
        <th>Email</th>
        <th>Role</th>
        <th>Admin</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr class="user_management">
        <td class= "text-justify"><%= user.id %></td>
        <td class= "text-justify"><%= user.name %></td>
        <td class= "text-justify"><%= user.avatar %></td>
        <td class= "text-justify"><%= user.email %></td>
        <td class= "text-justify"><%= user.role %></td>
        <td class= "text-justify"><%= user.admin? ? 'Admin' : 'none' %></td>
        <td class= "text-justify">
          <%= link_to "Show", user_path(user.id),  class: "btn btn-outline-primary show-btn" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
<%= link_to 'New Task', new_task_path %> |
<%= link_to 'Home top', root_path %>