
<h1>Profile</h1>



  <%if current_user %>
    <p> Hello <%= current_user.name%>!</p> <br>
    <p> Your  email is: <%= current_user.email %>!</p> <br>
    <p> your Roll is: <%= current_user.role %>!</p> <br>
    <p> Admin: <%= current_user.admin %>!</p> <br>
  <% else %>
    <h5>Enjoy Speaking<br>Pronuntiation APP</h5>
    <h1>Welcome to Tvoz</h1>
  <% end %>


<table class="table">
  <tbody>
    <tr class="user_management">
      <td class= "text-justify"><%= current_user.name %></td>
      <%# <td class= "text-justify"><%= current_user.avatar %>
      <%# </td>  %>
      <td class= "text-justify"><%= current_user.email %></td>
      <td class= "text-justify"><%= current_user.role %></td>
      <td class= "text-justify"><%= current_user.admin? ? 'Admin' : 'none' %></td>
    </tr>
  </tbody>
</table>


<br>

<%= link_to 'New Task', new_task_path %>
<br>
<%= link_to 'Home', root_path %>