<h1>User#<%= @user.name %> </h1>


<table class="table">
  <tbody>
    <tr class="user_management">
      <%# <th class= "text-justify">  %>
        <%# <div class=""> %>
          <%# <%= image_tag set_avatar, class: 'avatar-image-top'%> 
        <%# </div> %>
          <%# <%= image_tag set_avatar, class: 'avatar-image'%> 
      <%# </th> %>
      <th class= "text-justify">
        <p><%= @user.name %></p>
        <p><%= @user.email %></p>
        <p><%= @user.role %></p>
        <p><%= @user.admin? ? 'Admin' : 'none' %></p>
        
      </th>
      <th class= "text-justify">
        <%= button_to "follow", relationships_path(user_id: @user.id), method: :post, class: "btn btn-outline-primary show-btn" %>
      <div class="follow-part">
          <% unless current_user.id == @user.id %>
            <span id="follow-part">
              <%# <%= render 'relationships/follow', user: @user %> 
            </span>
          <% end %>
      </div>

        <%= link_to community_user_path(current_user.id), class: 'nav-link' do %> 
              <i class="fas fa-users"> </i>
        <% end %> 
      </th>
    </tr>
  </tbody>
</table>

<%# ONLY TEACHERS %>
<% if current_user.role == "teacher" %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>Audio record</th>
      <th>Audio</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |task| %>
      <tr>
        <th><%= task.title %></th>
        <th><%= task.content %></th>
        <th><%= task.image %></th>
        <th><%= task.audio_record %></th>
        <th><%= task.audio %></th>
        <th><%= task.user_id %></th>
        <th><%= link_to 'Show', task %></th>
        <th><%= link_to 'Edit', edit_task_path(task) %></th>
        <th><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></th>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Task', new_task_path %> |

<% end %>



