<div class="container-fluid">
  <div class="background">
    <div class="top-front">  
      <div class="top-logo align-item-center">
        <div class="align-middle">
          <%= image_tag("/images/sky_bgnd.jpg", height: 100) %>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="col-sm-1 col-md-1 col-lg-1">
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        <div class="box right mb-4">
          <p>explanation box</p>
        </div>
        <% if user_signed_in? %>
        <div class="top-bottom">
          <div class="after-login">
            <p>Welcome <%= current_user.name%>!</p>
            <p> Your  email is: <%= current_user.email%>!</p> <br>
            <p> your Roll is: <%= current_user.role%>!</p> <br>
            <p> Admin: <%= current_user.admin%>!</p> <br>
            <div class="d-flex justify-content-center">
              <%= link_to community_user_path(current_user.id), class: 'm-3' do %> 
                <i class="fas fa-users"> </i>
              <% end %> 
            </div>
            <p><small>Aprendamos</small></p>
          </div>
        </div>
        <% else %>
          <div class="top-bottom">
            <div class="box right mb-4">
              <h1>Welcome to Tvoz</h1>
              <h5>Enjoy Speaking<br>Pronuntiation APP</h5>
            </div>
            <div class="links d-flex justify-content-center">
              <div class="ml-3">
                <%= link_to new_user_session_path, class: 'm-3' do %>
                  <i class="fas fa-sign-in-alt"> Login</i>
                <% end %>
              </div>
              <div class="ml-3">
                <%= link_to new_user_registration_path, class: 'm-3' do %>
                  <i class="fas fa-user-plus">Sign up</i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
    </div>
  </div>
</div> 




