<!DOCTYPE html>
<html>
  <head>
    <title>Tvoz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  
    <script src="https://kit.fontawesome.com/27e4cb0d9e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>
  <body>
    <div class="outer-container">  
      <%= render 'home/header'%>
      <main>
        <div class="flash_messages">
          <% flash.each do |key, value| %>
            <% key = 'info' if key == 'notice' %>
            <% key = 'secondary' if key == 'alert' %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
        </div>
        <%= yield %>
      </main>
      <% if controller.controller_name != 'home' %>
        <footer>
          <div class="footer-wrap">
           <%= image_tag("/images/logo_speaking.png", class: "footer-logo") %>
           <p>© 2022 TVOZ All rights reserved.</p>
          </div>
        </footer>
      <% end %>
    </div>
  </body>
</html>
