<!DOCTYPE html>
<html>
  <head>
    <title>Tvoz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  
    <script src="https://kit.fontawesome.com/2deb46325b.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/27e4cb0d9e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>
  <body>
    <div class="outer-container">  
      <header class="sticky-top">
        <nav class="header-menu">
          <ul>
              <li class="logo">
               <%= link_to image_tag("/images/logo_speaking.png", height: 65), root_path, class: 'pl-2' %>   
              </li>
              <li>
              <% if user_signed_in? %>
                <li class="p-4">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'order-3 pr-2 bd-highlight' do %>
                    <i class="fas fa-sign-out-alt"> Logout</i>
                  <% end %>
                </li>
                <li class="p-4">
                  <%= link_to profile_user_path(current_user.id), class: 'order-2 pr-2 bd-highlight' do %> 
                    <i class="fa-solid fa-user">Profile</i> 
                  <% end %> 
                </li>
                <li class="p-4">
                  <%= link_to community_user_path(current_user.id), class: 'order-2 pr-2 bd-highlight' do %> 
                    <i class="fas fa-users"> Community </i>
                  <% end %> 
                </li>
                <li>
                 <%= link_to new_task_path, class: 'order-2 pr-2 bd-highlight' do %>
                   <i class="fas fa-plus"> New Tvoz</i>
                  <% end %>
                </li>
                <li>
                  <%= link_to tasks_path, class: 'order-2 pr-2 bd-highlight' do %>   
                     <i class="fa-solid fa-house">Tvoz list</i>
                  <% end %>
                </li>   
                <% if current_user.try(:admin?) %>
                  <li>
                    <%= link_to rails_admin_path, class: 'order-3 pr-2 bd-highlight' do %>
                      <i class="fas fa-user-cog"> Admin Managment</i>
                   <% end %>
                  </li>
                  <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: 'order-3 pr-2 bd-highlight' do %>
                    <i class="fas fa-sign-out-alt"> Logout</i>
                  <% end %>
                  </li>
                <% end %> 
              <% else %>
                  <li class="p-4">
                  <%= link_to new_user_session_path, class: 'pr-2 bd-highlight' do %>
                    <i class="fas fa-sign-in-alt"> Login</i>
                  <% end %>
                  </li>
                  <li class="p-4">
                  <%= link_to new_user_registration_path, class: 'pr-2 bd-highlight' do %>
                    <i class="fas fa-user-plus">Sign up</i>
                  <% end %>
                  </li>
                <% end %>
              </li>
          </ul>
        </nav>
      </header>
      <main>
        <div class="flash_messages">
          <% flash.each do |key, value| %>
            <% key = 'info' if key == 'notice' %>
            <% key = 'secondary' if key == 'alert' %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
        </div>
        <%= yield %>
      </main>
      <% if controller.controller_name != 'home' %>
        <footer>
          <div class="footer-wrap">
           <%# <%= image_tag("/images/logo_speaking.png", class: "footer-logo") %> 
           <p>© 2022 TVOZ All rights reserved.</p>
          </div>
        </footer>
      <% end %>
    </div>
  </body>
</html>
